<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta id="csrfName" name"{{ csrf.keys.name }}" content="{{ csrf.name }}">
    <meta id="csrfValue" name"{{ csrf.keys.value }}" content="{{ csrf.value }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Expense tracker auth{% endblock %}</title>
    {# <link rel="stylesheet" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"> #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('main') }}
        {{ encore_entry_link_tags('auth') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('main') }}
        {{ encore_entry_script_tags('auth') }}
    {% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>
